@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroTitleMimino {
    @apply block mx-auto w-[303px] text-center font-film text-[96px] font-700 text-white leading-normal tracking-[28.8px] md:text-[128px] md:tracking-[38.4px] md:w-[404px];
  }
  .sectionTitleMimino {
    @apply font-film text-[40px] font-700 leading-normal tracking-[12px] md:text-[64px] md:tracking-[19.2px];
  }
  .btnText {
    @apply font-mont text-[16px] text-accentYellow01 font-700 leading-normal tracking-[0.32px];
  }
  .text {
    @apply font-mont text-[12px] font-600 leading-normal tracking-[0.34px] md:text-[16px] md:tracking-[0.32px];
  }
}

@layer utilities {
  .border-around-yellow {
    @apply border-[1px] border-accentYellow01 border-solid rounded-[2px];
  }
  .border-around-white {
    @apply border-[2px] border-white border-solid rounded-[25px];
  }
  .shadow {
    @apply shadow-xs md:shadow-md;
  }
}

.swiper .swiper-slide {
  height: auto;
  width: auto;
}
.swiper-slide img {
  display: block;
  width: auto;
  object-fit: cover;
}

/* ----------------------------------Gradient Lines---------------------------------- */
.two-vertical-lines {
  position: relative;
}

.two-vertical-lines::before,
.two-vertical-lines::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;

  width: 1px;
  background-color: rgba(186, 186, 186, 0.4);
  filter: blur(0.5px);
}

.two-vertical-lines::before {
  left: 33%;
}

.two-vertical-lines::after {
  right: 33%;
}

.third-vertical-line {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .two-vertical-lines::before {
    left: 25%;
  }

  .two-vertical-lines::after {
    right: 25%;
  }

  .third-vertical-line::before {
    content: '';
    position: absolute;
    top: -100;
    left: 50%;
    bottom: 0;

    width: 1px;
    background-color: rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
  }
}
