@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroTitleMimino {
    @apply block mx-auto w-[303px] text-center font-film text-[96px] font-700 text-white leading-normal tracking-[28.8px] md:text-[128px] md:tracking-[38.4px] md:w-[404px];
  }
  .sectionTitleMimino {
    @apply font-film text-[40px] font-700 leading-normal tracking-[12px] md:text-[64px] md:tracking-[19.2px];
  }
  .btnText {
    @apply font-mont text-[16px] text-accentYellow01 font-700 leading-normal tracking-[0.32px];
  }
  .text {
    @apply font-mont text-[12px] font-600 leading-normal tracking-[0.34px] md:text-[16px] md:tracking-[0.32px];
  }
  .roomDescText {
    @apply font-mont font-700 text-[16px] tracking-[0.32px] text-[#7a7a7a];
  }

  .input {
    @apply py-[17px] pl-[12px] h-[54px] font-times text-[20px] font-700 tracking-[1px] leading-normal text-formGray rounded-sm border-2 border-accentYellow02 md:h-[64px] md:text-[24px] md:tracking-[1.2px];
  }

  /* ------------------------------------------------------- Menu-------------------------------------------------------*/
  .dishes-category-title {
    @apply mb-[16px] font-times font-700 text-[20px];
  }

  .dishes-name {
    @apply font-mont font-500 text-[14px] tracking-[0.28px] row-start-1 row-span-1 col-start-1 col-span-1;
  }

  .dishes-ingredient {
    @apply font-mont font-400 text-[10px] tracking-[0.2px] row-start-2 row-span-1 col-start-1 col-span-1;
  }

  .dishes-weight {
    @apply font-mont font-300 text-[14px] tracking-[0.28px] row-start-1 row-span-2 col-start-2 col-span-1 self-center justify-self-end;
  }

  .dishes-price {
    @apply font-mont font-700 text-[14px] tracking-[0.28px] row-start-1 row-span-2 col-start-3 col-span-1 self-center justify-self-end;
  }
}

@layer utilities {
  .border-around-yellow {
    @apply border-[1px] border-accentYellow01 border-solid rounded-[2px];
  }
  .border-around-white {
    @apply border-[2px] border-white border-solid rounded-[25px];
  }
  .shadow {
    @apply shadow-xs md:shadow-md;
  }

  .hero-main-bg {
    @apply bg-hero-main-mobile md:bg-hero-main-tablet;
  }
  .hero-restaurant-bg {
    @apply bg-hero-restaurant-mobile md:bg-hero-restaurant-tablet;
  }
  .hero-hotel-bg {
    @apply bg-hero-hotel-mobile md:bg-hero-hotel-tablet;
  }

  .restaurant-main-bg {
    @apply bg-restaurant-main-mobile md:bg-restaurant-main-tablet;
  }
  .hotel-main-bg {
    @apply bg-hotel-main-mobile md:bg-hotel-main-tablet;
  }

  .gradient-bg {
    @apply bg-double-gradient md:bg-triple-gradient;
  }

  .form-text-yellow {
    @apply ml-[15px] text-left font-mont text-[14px] tracking-[0.28px] text-accentYellow02 md:text-[16px] md:tracking-[0.32px];
  }
}

.swiper .swiper-slide {
  height: auto;
  width: auto;
}
.swiper-slide img {
  display: block;
  width: auto;
  object-fit: cover;
}
